blockquote ul {
    list-style:disc;
    margin:4px 40px;
}

blockquote ol {
    list-style:decimal;
    margin:4px 40px;
}

.block.padded.ch_box {
    padding: 10px !important;
}

.block.padded.ch_vpadding {
    padding: 10px 0 !important;
}

.extra-network-thumbs .actions .additional {
    position: relative;
    }
.gradio-container .prose a, .gradio-container .prose a:visited{
  display: inline-block;
  font-size: 100% !important;
}
.gradio-container-3-32-0 .prose ul{
  display: inline-block;
}
